{% extends 'forum/main_template.html' %}

{% block title %}

Forum pokemon go to the polls -Hillary Clinton

{% endblock title %}

{% block additional %}

    

{% endblock additional %}

{% block content %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{% for post in posts %}


<div class="card" id="{{ post.author.id }}">
    <div class="card-header">
    {{ post.title }} id: {{ post.id }}
  </div>
    <div class="card-body">
      <h5 class="card-title">Post Content - {{ post.date_posted }}</h5>
      <p class="card-text">{{ post.content }}</p>
      
      <a href="#" class="btn btn-primary">Participate</a>
    </div>
</div>

{% endfor %}

<footer>
  <a href="{% url 'create_forum' %}">Create Forum Post</a>
</footer>

<style type="text/css">
.card {
margin-top: 20px;
}
.nv a {
font-size: 13.8px;
}

body {
  background-color: lightgray;
  font-size: 16px;
}
footer {
  bottom:10px;
  right: 10px;
  position: fixed;
}
</style>

{% endblock content %}
