{% extends 'forum/main_template.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}

Forum pokemon go to the polls -Hillary Clinton

{% endblock title %}

{% block additional %}

    

{% endblock additional %}

{% block content %}
{% for post in posts %}
<!--
  Alternate template code for posts idk

<article class="media content-section">
  <img style="width:80px; height:80px;" class="rounded-circle article-img" src="{{post.author.profile.image.url }}">
  <div class="media-body">
    <div class="article-metadata">
      <a href="#" class="mr-2">{{post.author}}</a>
      <small class="text-muted">{{post.date_posted|date:"F d, Y"}}</small></div>
    </div>
    <h2><a href="#" class="article-title"></a>{{post.title}}</h2>
    <p class="article-content"></p>
  </div>
</article>
-->

<div class="card" id="{{ post.author.id }}">
    <div class="card-header">
    {% if post.AN == False %}
      <img style="width:40px; height:40px; margin-right: 10px;" class="rounded-circle article-img" src="{{post.author.profile.image.url }}">
    
    {{ post.author }} - {{ post.date_posted }}
    {% else %}
      <img style="width:40px; height:40px; margin-right: 10px;" class="rounded-circle article-img" src="https://static.thenounproject.com/png/638448-200.png">
    
    Annonymous - {{ post.date_posted }}
    {% endif %}
  </div>
    <div class="card-body">
      <h5 class="card-title"> {{post.title}}</h5>
      <p class="card-text">{{ post.content }}</p>
      <!--{% if post.file %}
        {{ post.file }}
      {% endif %}
      -->
       <a href="{% url 'post_detail' pk=post.id %}" class="btn btn-primary">Participate</a> 
    </div>
</div>
{% endfor %}

</br>
{% if request.user.is_authenticated %}
<div>
  <form action="{% url 'forum_forum' %}" method='POST' enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy }}
  <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
{% else %}

<div class="alert alert-warning" role="alert">
  Please log In to post in the Forum
</div>

{% endif %}
<style type="text/css">
.card {
margin-top: 20px;
}
.nv a {
font-size: 13.8px;
}

body {
  background-color: lightgray;
  font-size: 16px;
}
footer {
  bottom:10px;
  right: 10px;
  position: fixed;
}
</style>

{% endblock content %}
